################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Src/.vs/Conference-Service-All/v15/Server/sqlite3
